In [1]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings("ignore")
import re

In [2]:
data = pd.read_excel("../newsdata/NewsResult_20160101-20201231.xlsx")

In [3]:
# 사용할 컬럼 추출
data = data[['일자','특성추출(가중치순 상위 50개)']]

In [4]:
data.dtypes

일자                    int64
특성추출(가중치순 상위 50개)    object
dtype: object

In [5]:
data['일자'] = data['일자'].astype(str)  #데이터타입 string으로 변경 (연도,월 까지 표기하기 위해)

In [6]:
date = []
for x in data['일자']:
    date.append(x[0:6])
data['일자'] = date

In [7]:
data.head()

       일자                                  특성추출(가중치순 상위 50개)
0  202012       방사광,청주,부동산,가속기,지원단,충북,청주시,충청북도,차세대,추진지원단,정진규
1  202012  후보자,부동산,대구,밀양,박범계,매출액,변호사,경남,법무법인,1천만,국회의원,a씨,...
2  202012  부동산,서울,전셋값,팀장,보유세,다주택자,전문가,고준석,강북,안성용,다주택자들,장재...
3  202012  수도권,서울,아파트값,상승률,거래량,지점장,부동산원,세종,강남,부동산,6개월,신한은...
4  202012  대구,부동산,경남,지명자,밀양,a씨,실거래,관계자,박범계,더불어민주당,14억,끼리,...

In [8]:
data.info() #null 값이 있는지 체크

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18990 entries, 0 to 18989
Data columns (total 2 columns):
일자                   18990 non-null object
특성추출(가중치순 상위 50개)    18990 non-null object
dtypes: object(2)
memory usage: 296.8+ KB

In [9]:
# 일자별 키워드 합치기
data = data.groupby('일자').sum()
data

                                        특성추출(가중치순 상위 50개)
일자
201601  부동산,주택담보대출,신혼집,산본,전셋값,거래량,부동산시장,반월동,안산,상승폭,관계자...
201602  임대주택,뉴스테이,부산도시공사,임대료,부산,lh,입주민들,입주자,공공임대주택,국민임...
201603  부동산,2천,전북,봄바람,상승세,하락세,거래량,수도권,한국감정원,활황세,관계자,1천...
201604  길음뉴타운,분양가,서울,거주자,성북구,북한산,1순위,롯데캐슬,우이신설선,견본주택,5...
201605  충북,충북지역,농산물,비수도,상승세,비수도권,가정경제,1만,소비자물가,주택가격,축산...
201606  울산,한국감정원,대구,매매가격,수도권,하락세,동구,피로감,아파트값,근로자,부동산,울...
201607  청주,전세난,청주지역,한국감정원,집주인,임대차,부동산,저금리,1만,전월세,입주량서울...
201608  서울,부동산,상승률,재건축,강남,중도금,부산,양극화,상승폭,수도권,매매가격,공급과잉...
201609  포항,계약금,문장건설,경북,건설사,부동산,경북도청,포항시,지엔하임,6개,동해안발전본...
201610  울산,울산지역,주택매매가격,오름세,2억,상승세,협동조합,한국감정원,수도권,전국주택가...
201611  서울,강남구,변동률,부동산,박원갑,재건축,일반아파트,하락세연구원,역전세,가능성,주택...
201612  500만,서울,1000만,전셋값,전세수요,250만,부동산,일산,강동,영등포,10p,...
201701  울산,월세가격,전세가격,3개월,하락세,대구,경남,충북,7만,내림세,한국감정원,다음달...
201702  10억,강북,한강,광장동,강남,래미안,옥수동,실거래,매매가격,한강변,관계자,국민은행...
201703  분양가,과천,재건축,강남,관계자,사업장,대우건설,서울,관리지역,주택도시보증공사,발등...
201704  5억,6억,중위가격,서울,4억,한강,강남권,강남,3억,강북,국민은행,1억,상승세,5...
201705  울산,전월세,하락세,주택매매가격,디커플링,한국감정원,전세가격,부산,서울,다세대,연립...
201706  부산,상승폭,기타지방,5개,수도권,광주,남구,부동산,강남구,노원구,성남,분당구,성동...
201707  부동산,조합원,만큼,국토부,투기과열지구,청약제도,관계자,가능성,규제책부동산,000만...
201708  한국감정원,서울,전세가격,전세가율,매매가격,공공기관,한규헌,감정원,부동산,가능성,월...
201709  부동산,재건축,분들,강남,세무조사,서울,다주택자,3억,주거복지로드맵서울,상승세,상승...
201710  중소형,광주,상무지구,영무,부동산,선착순,잔여세대,1인,광주시청,한국은행,업무지구,...
201711  부동산,대구,수성구,연구원,한국감정원,한국은행역전세,주산연,준공물량,보증금,전세가격...
201712  부동산,서울,전문가,입주물량,센터장,수도권,함영진,양지영,김덕례,강남,장재현,분양시...
201801  증가세,한은,경상수지,취업자수,성장세,취업자,한국은행,오름세,주요국,회복세,상품수지...
201802  화장품,시청자,머니투데이방송,최영동,상승세,전문가,외국인,매수세,김문희,성장세,타이...
201803  다주택자,부동산,서울,양도세,거래량,중과세,보유세,김장훈,건국대학교,심교언,2주택자...
201804  땅값,광주,전남,광주지역,기대감,거래량,부동산,상승세,오름세,송정역,상승률,오름폭,...
201805  경기도,전용면적,역세권,롯데캐슬,동탄역,오벨리스크,동작,과천,2호,아이파크,성복역,...
201806  미분양,883세대,원주,1억,선호도,강릉,부작용,동해,교통망,460만,누적치,605...
201807  전세가격,부동산,청주,관계자,부동산업,하락세,입주자들,입주자,상승세,전세시장,부동산...
201808  재개발,서울,재건축,부동산,연평균,조합원,상승률,최저치국토부,서울,관계자,부동산,가...
201809  부동산,충북지역,금리인상,미국,충북,한국은행,9조,가속화,한미아시아,한국,임대료,a...
201810  울산,하락폭,한국감정원,동구,7개월,전세가격,임영주,한국은행,보증금,자동차급상승,상...
201811  내년도,연구원,양극화,서울,김덕례,부동산,미분양,강원도,주산연,가계부채,공급량,예정...
201812  전셋값,송파구,강남,헬리오시티,서울,부동산,강남4구,강남권,조합원,혹한기,한국감정원...
201901  서울,전셋값,부동산,김지은,안정세,수요자,분양가,연구원,자금력,무주택자,가능성,직방...
201902  서울,한국감정원,매매시장,하락세,보유세,아파트값,강남,강동구,전셋값,2주직거래,부동...
201903  부동산,서울,다주택자,노무라,우리나라,관계자,수도권,가격지수,거래량,부채상환비율부동...
201904  부산,미분양주택,최대치,부울경,785호,부동산,분양실적,505호,경남,교통부,85호...
201905  금정역,서울,군포시,수도권,군포,gtx,안양,부동산,교통망,역세권,조합원,안양시,동...
201906  분양권,6억,배우자,양도세,2억,매매거래,양도소득세,10억,소득세,공동명의,3억,강...
201907  서울,자치구,상승세,강남,세종,하락세,유성구,중구,8개,전남,동구,상승률,감정원,원...
201908  국민연금,생활비,부동산,주택연금,은퇴자,9억,수령액,etf,미국,소득원,셀프연금,지...
201909  전셋값,분양가상한제,서울,분양가,부동산,상승세,강남,시행령,13주,민간택지,개정안,...
201910  외국인,서울,부동산,구로구,매수자,1만,홍철호,마용성,마포구,금천구,용산구,성동구,...
201911  양천구,목동,건설사,목동힐스테이트,실거래,분양가,신정네거리역,6억,부동산,미분양,신...
201912  구랍,상승률,전남,대구,충북,중개사,공인중개사,서울,주택매매가격,1위,해동안,경쟁적...
202001  대구,부동산,동구,전세가격,주택매매가격,5개,남구,상승률,경북,수성구,리브온,공인중...
202002  한은,오름세,주택매매가격,강남,상승률,증가세,부작용,주택가격,상승세,서울,인천,이주...
202003  부동산,불로소득,양극화,임대차,염경석,임차인,소득세,한국,전월세,실거래,양도세,보호...
202004  보급률,상위권,1만,홍성군,soc,충남통계연보,최현구,기준월,중부매일,충청남도,군민...
202005  서울,남양주,6억,4억,부동산,5억,풍선효과,7억,광주,경기도,수도권,실거래,9억,...
202006  상승세,리브온,매매가격,광역시,전망지수,전세수급지수,상승폭,유성구,서울,동구,중구,...
202007  전셋값,집주인,임대차,집주인들,서울,부동산,세입자,다주택자,사업자,저울질,마다,9억...
202008  수수료,부동산,중개사,서울,6억,9억,중개인,김현미,청와대,청원,매도자,도시근로자,...
202009  코로나19,수익률,대신증권,국민은행,코로나바이러스,조승빈,서울,1돈,한국금거래소,금...
202010  재산세,보유세,부동산,서울,공시가격,민주당,현실화,보유자,1주택자,한정애,종합부동산...
202011  전셋값,서울,김현미,세입자,부동산,임대차,부동산대책,신용대출,병리현상,1억,국민은행...
202012  방사광,청주,부동산,가속기,지원단,충북,청주시,충청북도,차세대,추진지원단,정진규후보...

In [10]:
# 키워드 value를 한글만 남기고 모두 삭제
def text_cleaning(text):
    text = str(text)
    hangul = re.compile('[^ ㄱ-ㅣ가-힣]+') # 한글의 정규표현식을 나타냅니다.
    result = hangul.sub(' ', text)
    return result

In [11]:
data['특성추출(가중치순 상위 50개)'] = data['특성추출(가중치순 상위 50개)'].apply(lambda x: text_cleaning(x))

In [12]:
from konlpy.tag import Okt
from collections import Counter

# konlpy의 형태소 분석기로 명사 단위의 키워드를 추출합니다.
data['상승'] = 0
data['하락']=0
for i in range (0,len(data['특성추출(가중치순 상위 50개)'])):
    nouns_tagger = Okt()
    nouns = nouns_tagger.nouns(data['특성추출(가중치순 상위 50개)'][i])
    count = Counter(nouns)
    count = dict(count)

    up_key_list = []
    down_key_list = []
    for x in count.keys():
        if '상승' in x:
            up_key_list.append(x)
        if '하락' in x:
            down_key_list.append(x)

    up_count = 0
    down_count = 0
    for x in up_key_list:
        up_count= up_count+ count.get(x)
    for x in down_key_list:    
        down_count= down_count+ count.get(x)
    data['상승'][i] = up_count
    data['하락'][i] = down_count

In [16]:
data = data.drop('특성추출(가중치순 상위 50개)', axis = 1)

In [19]:
data

         상승   하락
일자
201601  151   29
201602   57   45
201603   90   35
201604   56   17
201605   72   21
201606   64   28
201607   67   31
201608   59   28
201609   53   24
201610   87   23
201611   60   14
201612   49   28
201701   73   34
201702   30   24
201703   50   14
201704   51   14
201705   45   10
201706   83   24
201707   84   18
201708   39   17
201709   36   12
201710   51   16
201711   34   18
201712   44   21
201801   84   47
201802   47   17
201803   53   29
201804   56   36
201805   23   39
201806   31   52
201807   53   84
201808   54   33
201809   64   23
201810   81   49
201811   56   80
201812   67   69
201901   57  136
201902   19   99
201903   23   88
201904   34  105
201905   18   46
201906   31   60
201907   53   58
201908   52   44
201909   57   34
201910   83   42
201911   65   26
201912  101   24
202001   90   46
202002   97    9
202003   65   41
202004   55   34
202005   48   49
202006  108   27
202007  106   12
202008  179    7
202009  147    8
202010  118   15
202011  140    3
202012  177   14

In [17]:
data.to_csv('20162020.csv')